<%-include("partials/header")-%>

<h1>
    Author : Shreyas Padmashree Pradeep Patil
    
</h1>
<h3>
    Famous as : Monk in a denim :)
</h3>
<h2>
    SDS : Media .net
</h2>

<%-include("partials/footer")-%>