body{
    font-family:"Cascadia Code";
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 13px;
    padding-bottom: 11px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 5px;
    background-color: #56d3d0;
}


.navbar-nav  li a:hover {
    color: #182b6f !important;
}


.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position:fixed;
	text-align: center;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 19px;
    margin-left: 15px;
	font-size: 12px;
  color: #fff;
}

.blogHeader{
    border-style: solid ;
    border-radius: 5px;
    border : 2;
    border-color: rgb(64, 61, 94);
    margin-top: 0.5px;
    margin-bottom: 1px;
    padding-left: 10px;
    border-width: 2px;
}