<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>

    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="css/style.css">

    <!-- fontawesome cdn -->
    <script src="https://kit.fontawesome.com/0b0401b561.js" crossorigin="anonymous"></script>


</head>

<body>
    <div class="container-fluid head">
        <div class="row">
            <div class="col-md-10 col-sm-12 mx-auto">
                <nav class="navbar navbar-expand-md ">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><i class="far fa-snowflake"></i> Temp India <i
                                class="far fa-snowflake"></i></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/weather">Weather app</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">about me</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="container main_body ">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="row ">
                    <div class="col-md-6 col-sm-12 left">
                        <p>welcome to the weather app</p>
                        <h1>get the <span class="text_clr">latest</span> weather info of your city</h1>
                        <a href="/weather"><button class="btn_wa">Check Now</button></a>
                    </div>
                    <div class="col-md-6 col-sm-12 right">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <i class="fas fa-cloud-moon-rain fa-6x"></i>
                                </div>
                                <div class="carousel-item">
                                    <i class="fas fa-cloud-rain fa-6x"></i>
                                </div>
                                <div class="carousel-item ">
                                    <i class="fas fa-sun fa-5x"></i>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">

                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
    

    <!-- javascript cdn for bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>